{% extends 'bases/base.html' %}

{% block content %}
    {% load static %}
   <!-- Page Content-->
   <div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static '/images/img1.jpg' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">WFarel Developers</h1>
            <p>Mi código es más que líneas; es la esencia de la creatividad que impulsa la funcionalidad. Si buscas un arquitecto digital que no solo entienda tu visión, sino que la eleve a nuevas alturas, estás en el lugar correcto. Convierte lo imaginable en lo alcanzable, y hazlo con un toque de magia digital."</p>
            <a class="btn btn-primary" href="#!">Información</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">"Construyendo el futuro, una línea de código a la vez."</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Desarrollo</h2>
                    <p class="card-text">Desarrollo web y de aplicaciones que superan expectativas.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Idea</h2>
                    <p class="card-text">Transformamos ideas en experiencias digitales excepcionales.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Pasión</h2>
                    <p class="card-text">Tu idea, nuestra pasión, una aplicación perfecta.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}