{% extends 'bases/base.html' %}

{% block title %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 offset-md-4 card shadow" >
                <h1>Login</h1>
                <hr>
                <form action="{% url 'bases:login' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Login" class="btn btn-success btn-block">
                </form>
                <hr>
                
            </div>
        </div>
    </div>
{% endblock %}

{% block footer%}{% endblock %}