
{% extends 'bases/base.html' %}

{% block content %}
    <div class="container">
             <!-- Button trigger modal -->
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-extra="hola"
                onclick="abrirModal('{% url 'task:task_create' %}')">
                Nueva tarea
            </button>
        
        <div class="container p-3 pb-4 my-3 bg-dark text-white">
            Tareas  
            <a class="btn btn-primary btn-sm float-right"  href="{% url 'task:task_create' %}">Nueva tarea</a>
            
        </div>
             
        <div class="row">
            {% if tasks %}
                {% for task in tasks %}
                    <div class="col-md-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h4 class="card-title">{{ task.title }}</h4>
                                <p class="card-text">{{ task.description }}.</p>
                                <p>{{ task.created }}</p>
                                
                            </div>
                            <div class="card-footer">
                                {% if task.complete %}
                                    <div style="color: green;">Tarea completada</div>
                                {% else %}
                                    <a class="btn btn-warning btn-sm" href="{% url 'task:task_edit' task.id %}">Editar</a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'task:task_delete' task.id %}">Eliminar</a>
                                    <a class="btn btn-primary btn-sm" href="{% url 'task:task_complete' task.id %}">Completado</a>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                                    onclick="abrirModal('{% url 'task:task_edit' task.id %}')">
                                    editar tarea
                                </button>
                                    
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay tareas</p>
            {% endif %}
        </div>

   
        
        

    </div>

{% endblock %}

