
{% extends 'task/base.html' %}

{% block content %}
    <!-- Contenido específico de esta plantilla -->
    <h2>TAREAS</h2>
    <a href="{% url 'task_create' %}">(Crear tarea)</a>
    
    {% if tasks %}
        <ul>
            {% for task in tasks %}
                
                <div style="margin-bottom: 5px; border-style: groove; padding: 5px;">
                    <li>{{ task.title }}</li>
                    <p>{{ task.description }}</p>
                    {% if task.complete %}
                        <p style="color: green;">Tarea completada</p>
                    {% else %}
                        <a href="{% url 'task_edit' task.id %}"><button>Editar</button></a>
                        <button>Eliminar</button>
                        <button class="complete-button" data-task-id="{{ task.id }}">Completado</button>
                    {% endif %}
                    
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay tareas</p>
    {% endif %}


{% endblock %}

