{% extends "bases/base.html" %}
{% block title %}{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-10 col-lg-6 mx-auto">
            <form class="bg-white py-3 px-4 shadow rounded" method="POST">
                {% csrf_token %}
                <h1 class="display-4">Categoria</h1>
                <hr>
                {{ form.as_p }}
                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Guardar">
                <a class="btn btn-link btn-block" href="{% url 'inv:categoria_list' %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
