{% extends "bases/base.html" %}

{% block title %}
<title>SubCategoria</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="container p-3 pb-4 my-3 bg-dark text-white">
            SubCategorias  
            <a class="btn btn-primary btn-sm float-right"  href="{% url 'inv:subcategoria_new' %}">Nueva</a>
        </div>
        
        {% if not obj %}
        <p>No hay SubCategorias</p>
        {% else %}
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descripcion</th>
                    <th>Categoria</th>
                    <th>Estado</th>
                    <th>F. Creado</th>
                    <th>F. Modif.</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in obj %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.descripcion }}</td>
                    <td>{{ item.categoria }}</td>
                    <td>{% if item.estado %}
                        <span class="label label-success">Activo</span>
                        {% else %}
                        <span class="label label-danger">Inactivo</span>
                        {% endif %}
                    </td>
                    <td>{{ item.fc|date:"d/m/Y H:i" }}</td>
                    <td>{{ item.fm|date:"d/m/Y H:i" }}</td>
                    <td>
                        <a href="{% url 'inv:subcategoria_edit' item.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'inv:subcategoria_delete' item.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}